/* style.css */

/* Resetting default margin and padding */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

img {
    max-width: 500px;
    height: auto;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

input[type="text"]:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}
